.details{
    font-family: 'Montserrat', sans-serif;
}
#welcome{
    color: darkcyan;
    margin-top: 30px;
}
.dark{
    background-color: #333;
}
.shadow{
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.whiteShadow{
    box-shadow: 0 0px 20px 0px #f5f5f5;
}